{% extends 'CollecMeCollectionBundle::colme_layout.html.twig'%}

{% block style %}
{{parent()}}
{% endblock %}

{% block fos_user_content %}
<div class="page-header">
  <h1>Random item number # </h1>
  <div class="jumbotron">
    <img src="/img/sample1.jpg" alt="alternate text"/>
  </div>
</div>
{% endblock %}
